body{
    background-color: #D5EAF8;
}

/* Some overrides.  My minimal knowledge of css came in clutch*/
.navbar{
    background-color: #3B95D9;
}
.navbar-brand, .nav-link{
    color: #ffffff;
}
.container{
    max-width: 1080px;
}


/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/object-fit I love Mozilla */
.custom-image-style{
    float: none;
    width: 1920px;
    height: 480px;
    object-fit: cover;
}

.header-text{
    padding-top: 60px;
}

.img-fluid{
    border-radius: 20px;
    width: 100%;
    height: auto;
}
.button{
    max-width: 100%;
}